<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>

    <link rel="stylesheet" href="~/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/style.min.css" />

    <script src="~/js/common.js"></script>
</head>
<body>
    <div class="container">
        <header>
            <h1>Net Present Value Calculator</h1>
        </header>
        <main>
            @RenderBody()
        </main>
    </div>
    @RenderSection("Scripts", required: false)
</body>
</html>
